*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}
.header {
    width: 1240px;
    margin: 0 auto;
}
.header__nav {

}
.header__nav-logo {
    font-family:Raleway;
    display: inline-block;
    margin-right: 93px;
    color: #000;
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
    


}
.header__nav-logo-span{
    color: #2196F3;
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;   
}
.header__nav-link {
    margin-top: 32px;
    margin-bottom: 32px;
    display: inline-block;
    margin-right:50px;
    color: #212121;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}
.header__nav-link1{
    display: inline-block;
    margin-right:344px;
    color: #212121;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px; 
}
.header__nav-link2{
    display: inline-block;
    margin-right: 50px;
}
.header__nav-link3{
    display: inline-block;
}
.blok {

height: 600px;

background: #2F303A;
}
.blok__tekst {
    color: #FFF;
text-align: center;
font-family: Roboto;
font-size: 44px;
font-style: normal;
font-weight: 900;
line-height: 60px; /* 136.364% */
letter-spacing: 2.64px;
text-transform: uppercase;
width: 696px;
margin: 0 auto;
padding-top: 200px;
padding-bottom: 30px;

}
.blok__button {
    color: #FFF;
text-align: center;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 30px; /* 187.5% */
letter-spacing: 0.96px;
border-radius: 4px;
background: #2196F3;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
padding: 12px 32px;

}
.list {
    width: 1240px;
    margin: 0 auto;
    margin-top: 94px;
}
.list__itame {
display: inline-block;
width: 240px;
margin-right: 65px;



}
.list__title {color: #212121;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.42px;
text-transform: uppercase;
margin-bottom: 10px;
}
.list__tekst {
    color: #757575;
font-family: Roboto;
font-size: 14px;
font-style: normal;
line-height: 24px; /* 171.429% */
letter-spacing: 0.42px;
}
.blok-pictures {
    margin: 0 auto;
    width: 1240px;
    margin-top: 118px;
}
.blok-pictures__title {
    color: #212121;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
}
.blok-pictures__box {
    margin: 0 auto;
    margin:30px 10px 0 10px ;

}
.blok-pictures__box2{
    width: 270px;
    margin: 30px 10px 30px 10px;
    
}
.blok-pictures__blok {
    display: inline-block;
}
.blok-pictures__name {
    color: #212121;
text-align: center;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.48px;
margin:0 0 10px 0 ;
}
.blok-pictures__work {
    color: #757575;
text-align: center;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.48px;
margin-bottom: 124px;
}
.footer__p {
    color: #FFF;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 171.429% */
letter-spacing: 0.42px;
}
.footer{
    background: #2F303A;
    padding: 60px 0 60px 215px ;
}
.footer__nav-logo {
    color: #FFF;
font-family: Raleway;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.78px;
margin-bottom:20px ;
}
.footer__nav-logo-span {
    color: #2196F3;
font-family: Raleway;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.78px;
}
.footer__p {
    color: #FFF;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 171.429% */
letter-spacing: 0.42px;
}
.footer__nav-link2 {
    color: rgba(255, 255, 255, 0.60);
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 171.429% */
letter-spacing: 0.40px;
}
